<footer>
    <div class="container-info-item">
        <h4>REDES SOCIALES</h4>
        <div class="container-info">
            <img class="img-info" src="https://cdn-icons-png.flaticon.com/128/747/747374.png" alt="imagen">
            <a href="http://facebook" target="_blank" rel="noopener noreferrer">url o nombre a donde se quiera
                redirigir</a>
        </div>
        <div class="container-info">
            <img class="img-info" src="https://cdn-icons-png.flaticon.com/128/87/87390.png" alt="imagen">
            <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" target="_blank" rel="noopener noreferrer">url o
                nombre a donde se quiera redirigir</a>
        </div>
        <div class="container-info">
            <img class="img-info" src="https://cdn-icons-png.flaticon.com/128/14417/14417460.png" alt="imagen">
            <a href="http://facebook" target="_blank" rel="noopener noreferrer">url o nombre a donde se quiera
                redirigir</a>
        </div>
    </div>
    <div class="container-info-item">
        <h4 id="contact">CONTACTANOS</h4>
        <div class="container-info">
            <img class="img-info" src="https://cdn-icons-png.flaticon.com/128/327/327589.png" alt="imagen">
            <a href="http://facebook" target="_blank" rel="noopener noreferrer">+57 3333333333</a>
        </div>
        <div class="container-info">
            <img class="img-info" src="https://cdn-icons-png.flaticon.com/128/72/72490.png" alt="imagen">
            <a href="http://facebook" target="_blank" rel="noopener noreferrer">666 666 66 66</a>
        </div>
        <div class="container-info">
            <img class="img-info" src="https://cdn-icons-png.flaticon.com/128/2111/2111774.png" alt="imagen">
            <a href="http://facebook" target="_blank" rel="noopener noreferrer">+57 0000000000</a>
        </div>
    </div>
    <div class="container-info-item">
        <h4 id="shop">SOBRE NOSOTROS</h4>
        <div class="container-info">
            <img class="img-info" src="https://cdn-icons-png.flaticon.com/128/3912/3912779.png" alt="imagen">
            <a href="http://facebook" target="_blank" rel="noopener noreferrer">Domicilios</a>
        </div>
        <div class="container-info">
            <img class="img-info" src="https://cdn-icons-png.flaticon.com/128/6806/6806384.png" alt="imagen">
            <a href="https://maps.app.goo.gl/aZVn8gsH5jUdmHrE8" target="_blank" rel="noopener noreferrer">Cll12 #89-45 libertad-ballester</a>
        </div>
        <div class="container-info">
            <img class="img-info" src="https://cdn-icons-png.flaticon.com/128/2413/2413035.png" alt="imagen">
            <a href="http://facebook" target="_blank" rel="noopener noreferrer">Eventos</a>
        </div>
    </div>
</footer>